{% extends "core/base.html" %}
{% load static %}

{% block extra-style %}
    <style>
        #masthead-background {
            background-image: url("{% static "core/img/ashford.jpg" %}");

    </style>

{% endblock %}

{% block content %}
    <h1 class="ui header">Semantic UI Fixed Template</h1>
    <p>This is a basic fixed menu template using fixed size containers.</p>
    <p>A text container is used for the main container, which is useful for single column layouts</p>

    <div class="ui horizontal divider">
        Category
    </div>
    <br>
    <br>

    <div align="center" class="ui centered three column grid">
        {#        <div class="ui centered row">#}
        <div class="ui link centered cards">
            <!-- First card -->
            <div class="column card">
                <div class="image">
                    <img src="{% static "core/white-image.png" %}">
                </div>
                <div class="content">
                    <div class="header">Pack</div>
                    <div class="meta">
                        <a>Type</a>
                    </div>
                    <div class="description">
                        description
                    </div>
                </div>
                <div class="extra content">
                        <span class="right floated">
                            Available
                        </span>
                    <span>
                            <i class="user icon"></i>
                            Price
                        </span>
                </div>
            </div>
            <!-- Second Card -->
            <div class="column card">
                <div class="image">
                    <img src="{% static "core/white-image.png" %}">
                </div>
                <div class="content">
                    <div class="header">Pack</div>
                    <div class="meta">
                        <a>Type</a>
                    </div>
                    <div class="description">
                        description
                    </div>
                </div>
                <div class="extra content">
                        <span class="right floated">
                            Available
                        </span>
                    <span>
                            <i class="user icon"></i>
                            Price
                        </span>
                </div>
            </div>

            <div class="column card">
                <div class="image">
                    <img src="{% static "core/white-image.png" %}">
                </div>
                <div class="content">
                    <div class="header">Pack</div>
                    <div class="meta">
                        <a>Type</a>
                    </div>
                    <div class="description">
                        description
                    </div>
                </div>
                <div class="extra content">
                        <span class="right floated">
                            Available
                        </span>
                    <span>
                            <i class="user icon"></i>
                            Price
                        </span>
                </div>
            </div>

            <div class="column card">
                <div class="image">
                    <img src="{% static "core/white-image.png" %}">
                </div>
                <div class="content">
                    <div class="header">Pack</div>
                    <div class="meta">
                        <a>Type</a>
                    </div>
                    <div class="description">
                        description
                    </div>
                </div>
                <div class="extra content">
                        <span class="right floated">
                            Available
                        </span>
                    <span>
                            <i class="user icon"></i>
                            Price
                        </span>
                </div>
            </div>

            <div class="column card">
                <div class="image">
                    <img src="{% static "core/white-image.png" %}">
                </div>
                <div class="content">
                    <div class="header">Pack</div>
                    <div class="meta">
                        <a>Type</a>
                    </div>
                    <div class="description">
                        description
                    </div>
                </div>
                <div class="extra content">
                        <span class="right floated">
                            Available
                        </span>
                    <span>
                            <i class="user icon"></i>
                            Price
                        </span>
                </div>
            </div>

            <div class="column card">
                <div class="image">
                    <img src="{% static "core/white-image.png" %}">
                </div>
                <div class="content">
                    <div class="header">Pack</div>
                    <div class="meta">
                        <a>Type</a>
                    </div>
                    <div class="description">
                        description
                    </div>
                </div>
                <div class="extra content">
                        <span class="right floated">
                            Available
                        </span>
                    <span>
                            <i class="user icon"></i>
                            Price
                        </span>
                </div>
            </div>
        </div>


    </div>

    <br>
    <br>
    <div class="ui horizontal divider">
        Category
    </div>
    <br>
    <br>

    <div align="center" class="ui centered three column grid">
        {#        <div class="ui centered row">#}
        <div class="ui link centered cards">
            <!-- First card -->
            <div class="column card">
                <div class="image">
                    <img src="{% static "core/white-image.png" %}">
                </div>
                <div class="content">
                    <div class="header">Pack</div>
                    <div class="meta">
                        <a>Type</a>
                    </div>
                    <div class="description">
                        description
                    </div>
                </div>
                <div class="extra content">
                        <span class="right floated">
                            Available
                        </span>
                    <span>
                            <i class="user icon"></i>
                            Price
                        </span>
                </div>
            </div>
            <!-- Second Card -->
            <div class="column card">
                <div class="image">
                    <img src="{% static "core/white-image.png" %}">
                </div>
                <div class="content">
                    <div class="header">Pack</div>
                    <div class="meta">
                        <a>Type</a>
                    </div>
                    <div class="description">
                        description
                    </div>
                </div>
                <div class="extra content">
                        <span class="right floated">
                            Available
                        </span>
                    <span>
                            <i class="user icon"></i>
                            Price
                        </span>
                </div>
            </div>

            <div class="column card">
                <div class="image">
                    <img src="{% static "core/white-image.png" %}">
                </div>
                <div class="content">
                    <div class="header">Pack</div>
                    <div class="meta">
                        <a>Type</a>
                    </div>
                    <div class="description">
                        description
                    </div>
                </div>
                <div class="extra content">
                        <span class="right floated">
                            Available
                        </span>
                    <span>
                            <i class="user icon"></i>
                            Price
                        </span>
                </div>
            </div>

            <div class="column card">
                <div class="image">
                    <img src="{% static "core/white-image.png" %}">
                </div>
                <div class="content">
                    <div class="header">Pack</div>
                    <div class="meta">
                        <a>Type</a>
                    </div>
                    <div class="description">
                        description
                    </div>
                </div>
                <div class="extra content">
                        <span class="right floated">
                            Available
                        </span>
                    <span>
                            <i class="user icon"></i>
                            Price
                        </span>
                </div>
            </div>

            <div class="column card">
                <div class="image">
                    <img src="{% static "core/white-image.png" %}">
                </div>
                <div class="content">
                    <div class="header">Pack</div>
                    <div class="meta">
                        <a>Type</a>
                    </div>
                    <div class="description">
                        description
                    </div>
                </div>
                <div class="extra content">
                        <span class="right floated">
                            Available
                        </span>
                    <span>
                            <i class="user icon"></i>
                            Price
                        </span>
                </div>
            </div>

            <div class="column card">
                <div class="image">
                    <img src="{% static "core/white-image.png" %}">
                </div>
                <div class="content">
                    <div class="header">Pack</div>
                    <div class="meta">
                        <a>Type</a>
                    </div>
                    <div class="description">
                        description
                    </div>
                </div>
                <div class="extra content">
                        <span class="right floated">
                            Available
                        </span>
                    <span>
                            <i class="user icon"></i>
                            Price
                        </span>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="ui horizontal divider"></div>
    </div>

{% endblock %}